@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-kanit;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  width: auto;
  height: auto;
}
