* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sarabun;
}

:root {
  --primary-color: #ad8b73;
  --secondary-color: #ceab93;
  --light-color: #e4cda7;
  --lighter-color: #f3d5c0;
  --dark-color: #876445;
  --darker-color: #6b4f4f;
}

.App {
  min-height: 100vh;
  padding: 2%;
  background-color: var(--light-color);
}
